@import scala.util.{ Try, Success, Failure }
@(index: Int, inputForm: Form[List[String]], result: Option[Try[String]] = None)(implicit request: MessagesRequestHeader)
@import utils.BSVersion
@import helper.Implicits._
@import models.Exercise

@exercise = @{ Exercise.listOfExercises(index) }
@actualResult = @{ result.getOrElse(Failure(new Exception("THIS SHOULD NOT HAPPEN!"))) }

@main("Workshop - Exercise " + index) {
	<h1>Exercise @index - @exercise.title</h1>
	<p>
		@exercise.description
	</p>

	@b4.vertical.formCSRF(routes.Application.testExercise(index)) { implicit vfc =>
		@{
			0.until(exercise.nArgs).map( n =>
				b4.text(inputForm(s"input[$n]"), '_label -> s"Input $n", 'placeholder -> "Write your input here...")
			)
		}
		@b4.submit('class -> "btn btn-secondary"){ Test! }
	}

	@if(result.nonEmpty) {
		<h5>
			Result: @if(actualResult.isFailure) { <span class="bad">EXCEPTION CAUGHT</span> } else { <span class="good">NO EXCEPTIONS</span> }
		</h5>
			@{
				actualResult match {
					case Success(r) => <pre>{r.trim}</pre>
					case Failure(e) => <pre>{e}</pre>
				}
			}
	}

}
